@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    transition: background 0.6s ease;
}

p {
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

header {
    padding: 10px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.0px);
    -webkit-backdrop-filter: blur( 6.0px);
}

.main {
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.0px);
    -webkit-backdrop-filter: blur( 6.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    align-items: center;
    text-align: center;
    width: 60vw;
    height: auto;
    padding: 5% 5%;
}

#colour-text {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0 0 0;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#btn {
    background: radial-gradient( rgba( 251, 251, 251, 0.40), rgba(255, 0, 0, 0));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 10px;
    color: black;
    padding: 10px 25px;
    font-size: 1.5em;
    border: 0px;
}

#btn:active {
    transform: scale(.98);
}